# Arquivos de teste
*.log
teste.ms
main.ms
entrada.ms
server.js
index.js

# Git
.git
.gitignore

# Ignorar testes
test*.ms
teste*.ms
testando.ms

# Ignorar exemplos (se não quiser publicar no pacote)
examples/
exemplos/

# Ignorar binários e pasta dist
mambas-win.exe
mambas-linux
mambas-macos
dist/

# Ignorar arquivos que não são necessários no npm
CHANGELOG.md
README.md
LICENSE
